body{
  background-color: #282c34;
  color:white;
  width: auto;
  
}
html{
  scroll-behavior: smooth;
}
/* intro to website */
.intro{
  background-image: url("intro.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute; 
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  margin-top: 45vh;
  width: 100%;
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 20px;
}

.footer{
/* position: absolute; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.row{
  width: auto;
}

.padStyle{
  padding: 20px;
} 

.row{
  margin: auto;
}

.bc{
  background-color: #343a40;
}

.profilePic{
  border: 5px solid #282c34;
  border-radius:40%;
  width: 100%;
  height: auto;
  margin-top: 20%;
}

@media only screen and (max-width: 768px) {
  .profilePic{
    border: 5px solid #282c34;
    border-radius:40%;
    width: 100%;
    height: auto;
    margin-top: 0;
  }
}

.details{
  background-color:#343a40;
  padding: 35px;
  box-shadow: 5px 5px #888888;
}

.bf{
  padding-right: 0;
}

.menu{
  position: sticky;
  top:0;
  z-index: 2;
  border-bottom:solid 1px #ffffff;
}

.col-md-8 {
  padding: 0;
} 
